<% if action == :new %>
    <% action_url = bands_url %>
    <% button_text = "Create Band" %>
    <h2>Create A New Band</h2>
<% else %>
    <% action_url = band_url(band) %>
    <% button_text = "Update Band" %>
    <h2>Update A Band</h2>
<% end %>



<form action="<%= action_url %>" method="post">
  <% unless action == :new %>
    <input type="hidden" name="_method" value="patch">
  <% end %>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label for="band_name">Band Name</label>
  <input type="text" name="band[name]" value="<%= band.name %>" id="band_name">

  <input type="submit" value="<%= button_text %>">
</form>
